26 DIALOG 0, 0, 248, 197
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
FONT 8, "MS Shell Dlg"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "Job Name:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 35, 8
 CONTROL "", 1075, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 18, 233, 12
 CONTROL "List1", 1076, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_OWNERDRAWFIXED | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 46, 234, 47
 CONTROL "Processes in Job:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 35, 56, 8
 CONTROL "List1", 1077, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_OWNERDRAWFIXED | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 110, 234, 80
 CONTROL "Job Limits:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 100, 34, 8
}