//#define ENABLE_JOB_INFO

#ifdef MASM_RCCompile
 #include "../masm_rc_defs.h"
#endif

1 ICON "resources/icon.ico"
2 ICON "resources/run.ico"
3 ICON "resources/find.ico"
4 ICON "resources/exec.ico"
5 ICON "resources/hrdw.ico"
6 ICON "resources/driver.ico"
7 ICON "resources/shrexe.ico"
8 ICON "resources/intshr.ico"
9 ICON "resources/intexe.ico"
10 ICON "resources/transparent.ico"
11 ICON "resources/registry.ico"
12 ICON "resources/dllicon.ico"
13 ICON "resources/registry2.ico"
14 ICON "resources/stop16.ico"
15 ICON "resources/question16.ico"
16 ICON "resources/ok16.ico"
17 ICON "resources/remthdd.ico"
18 ICON "resources/warn16.ico"
19 ICON "resources/x16.ico"
20 ICON "resources/gears32.ico"
21 ICON "resources/idleprc.ico"
22 ICON "resources/clock.ico"
23 ICON "resources/unins.ico"
24 ICON "resources/window_vis.ico"
25 ICON "resources/window_hid.ico"
26 ICON "resources/users.ico"

1 BITMAP "resources/cpu_bg.bmp"
2 BITMAP "resources/shutdown.bmp"
3 BITMAP "resources/shtd_bg.bmp"
4 BITMAP "resources/checkbx.bmp"
5 BITMAP "resources/logo.bmp"
6 BITMAP "resources/graph.bmp"
7 BITMAP "resources/objtypes.bmp"
8 BITMAP "resources/arrDwn.bmp"
9 BITMAP "resources/arrUp.bmp"
10 BITMAP "resources/tab.bmp"
11 BITMAP "resources/shtd_win.bmp"
12 BITMAP "resources/regjump.bmp"
14 BITMAP "resources/logon.bmp"

UNINSTALL.HTA 23 "../Setup/UnInstall.hta"
1 24 "resources\manifest."

#include "PROWiSe-Rc.rc"